body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
*{
    box-sizing: border-box;
}
.conatiner{
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    padding: 30px 20px;   
}
fieldset,table{
    width: 100%;
}
fieldset legend{
    text-align: center;
    font-size: 24px;
}
table tr td{
    padding: 5px;
}
input[type="text"]{
    height: 40px;
    width: 100%;
    border-radius: 5px;
    margin: 10px 0;
    padding: 5px 10px;
    font-size: 18px;
}
